{{- if site.Menus }}
    <nav class="nav">
        {{- $currentPage := . }}
        <ul class="nav-list">
            {{- range site.Menus.main }}
            {{- $menu_item_url := .URL | absURL }}
            {{- $page_url:= $currentPage.Permalink }}
            {{- $is_active := eq $menu_item_url $page_url }}
            <li class="nav-item{{ if $is_active }} active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
{{- end }}

{{- /* 语言切换器：优先当前页面翻译，其次主页翻译 */ -}}
{{- if not site.Params.disableLangToggle }}
    {{- $lang := .Lang }}
    {{- $translations := .Translations }}
    {{- if not $translations }}
        {{- $translations = site.Home.Translations }}
    {{- end }}
    {{- with $translations }}
    <ul class="lang-menu">
        {{- range . -}}
        {{- if ne $lang .Lang }}
        <li>
            <a href="{{- .Permalink -}}" title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
                {{- .Language.LanguageName | emojify -}}
                {{- else }}
                {{- .Lang | title -}}
                {{- end -}}
            </a>
        </li>
        {{- end -}}
        {{- end}}
    </ul>
    {{- end }}
{{- end }}
